<h1 appMarcaTexto backgroundColor="coral" textColor="white" class="text-success text-center">Angular - diretivas</h1>
<!-- Diretivas de Atributo -->
<div 
  [ngStyle]="{background: count < 6 ? 'red' : 'lightgreen'}"
  [ngClass]="{custom: count > 5}"
>
  <h2 class="text-center">
    Counter: {{ count }}
  </h2>
</div>

<!-- Diretivas Estruturais -->

<!-- IF -->
<h2
  class="text-center"
  *ngIf="count > 7; else menor">
  O contador passou de 7
</h2>

<ng-template #menor>
  <h2 class="text-center">
    O contador ainda é menor ou igual a 7
  </h2>
</ng-template>

<!-- SWITCH -->

<ul [ngSwitch]="count" class="list-group mx-auto col-3">
  <strong>ngSWITCH</strong>
  <li 
    class="list-group-item"
    *ngSwitchCase="3"
  >
    É igual a 3
  </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="5"
  >
    É igual a 5
  </li>
  <li 
    class="list-group-item"
    *ngSwitchCase="7"
  >
    É igual a 7
  </li>
  <li 
    class="list-group-item"
    *ngSwitchDefault
  >
    Text default
  </li>
</ul>

<!-- FOR -->

<ul class="list-group mx-auto col-3 mt-4">
  <strong>ngFOR</strong>
  <li 
    class="list-group-item"  
    *ngFor="let person of people" 
  >
    {{ person.firstName }} {{ person.lastName }} | idade: {{ person.age }}
  </li>
</ul>

<app-list-people></app-list-people>

<!-- BIDING -->
<!-- ONE WAY -->

<h3 class="text-center">{{ name }}</h3>
<button 
  class="btn btn-success mx-auto" 
>
  Clique
</button>

<!-- TWO WAY -->

<div class="col-4 mx-auto">
  <input 
    class="form-control" 
    type="text" 
    placeholder="Digite qualquer coisa"
    [(ngModel)]="text"
  >
  <h4>Saída: {{ text }}</h4>
</div>

<!-- DIRETIVA CUSTOMIZADA -->

<h3 appMarcaTexto backgroundColor="red" textColor="blue" class="text-center">{{ name }}</h3>